/basegame/*
!/basegame/here goes timekeeper base game FILES (not game folder)/
/modded_game/*
/temp_mods/*
Run TKML2.cmd
/mods/tkml2framework/
/mods/sexkeeper/
/mods/build framework.py
/mods/build framework.bat
/mods/build sexkeeper.py
/mods/build sexkeeper.bat
sexkeeper.zip
.gitignore